.hero-container{
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
    width: 90%;
    margin: 0 auto;
    

}
    
.hero-image-container{
    width: 50%;
    display: flex;
    justify-content: center;
   
   
    
}
.hero-image{
    height: 23rem;
    
    
    
}

.hero-content{
    padding: 0 0 0 4rem;
    width: 50%;

}

.hero-content:last-child{
    align-items: flex-start;
}
.hero-heading{
    width: 100%;
    line-height: 3rem;
    font-weight: bold;
    font-size: 2.4rem;
}

.hero-color{
    color: var(--burnt-orange);
}

.hero-paragraph{
    margin-top: 2rem;
    width: 100%;
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 2rem;
}

.hero-button-container{
    margin-top: 3rem;
}

.learn-button{
    text-decoration: none;
    padding: 1rem 1rem;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: var(--navy-blue);
    color: #EEEEEE;
}

.learn-button:hover{
    background-color: var(--navy-blue-hover);
}