@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
    --color-dosinkblue: #B0C7DD;
    --color-dosinkcreme: #F2E3D0;
    --color-dosinkbrown: #7C7D80;
    --color-burntorange: #CC5500;
    --color-star: #db9107;
}

*{
    font-family: "Cardo", serif;    
}

textarea{
    font-family: "Cardo", serif;    
}
:root {
    --dosink-blue: #B0C7DD;
    --dosink-creme: #F2E3D0;
    --dosink-brown: #7C7D80;
    --burnt-orange: #CC5500;
    --light-blue: #59acd3;
    --navy-blue: #003366;
    --navy-blue-hover: #336699;
}

@layer base{
    .container{
        @apply px-6 py-12 max-w-7xl mt-2 mx-auto lg:px-8
    }
}

